.container-productos1 {
                       display: grid;
                       grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* responsive */
                       gap: 80px;
                       max-width: 100%; 
                       margin: 20px;
                       padding: 50px;
}

.producto1 {
            background-color: rgb(50, 224, 74);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%; 
            figure{
                    overflow: hidden;
                    height: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                         width: 100%;
                         object-fit: contain;
                         transition: all 0.5s;
                        }
                   }
}

.producto1:hover {
                  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
                  img {
                       transform: scale(1.2);
                  }
}

.info-producto1 {
                padding: 15px 30px;
                line-height: 2;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                h2 {
                    font-size: 25px;
                    }
}

.info-producto1 button{
                        margin-top: auto; 
                        background-color: black;
                        color: white;
                        padding: 15px 10px;
                        cursor: pointer;
                        border: none;
                        font-weight: bold;
                        border-radius: 5px;
}

.precio1 { 
          font-size: 25px;
          font-weight: 900;
          text-align: center;
}
