.zapatillas-talles {
                    background-color: #ffffff;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;  
                    width: 25%;
                    border-radius: 10px;
                    border: solid 2px rgb(168, 164, 164);                    
                    margin-top: 3%;
                    margin-left: 1%;
                    h2 {
                        text-align: center;
                        font-size: 30px;
                        font-weight: 800;
                        color: #242628;
                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                        form label {
                                    text-align: start;
                                    font-size: 20px;
                                    margin-top: 5%;
                                    margin-left: 4%;
                                  }
                             }
                         }

.form-precio { 
              display: flex;
              flex-direction: column;
              width: 50%;
              margin-left: 4%;
}

form h3 { 
         text-align: start;
         font-size: 30px;
         width: 50%;
         background-color: #ffffff;
         margin-left: 3%;
         margin-top: 8%;
}

.zapatillas-talles-form  { 
                          display: flex;
                          flex-direction: column;
                          width: 50%;
                          margin-left: 3%;
                          margin-top: 20px;
                          font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.talles-tabla { 
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: flex-start;
            margin: 10px 5px;
            font-size: 15px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bolder;
             border: #BBBBBB solid 2px;
             .talle-boton {
                           display: flex;
                           flex-direction: row; 
                         }
                }

.talles {
        text-align: start;
         font-size: 30px;
         width: 50%;
         background-color: #ffffff;
         margin-left: 3%;
         margin-top: 8%;
}

            
                