.zapatillas-talles {
                    @include flex (column, start, wrap);
                    background-color: #ffffff;
                    width: 25%;
                    border-radius: 10px;
                    border: solid 2px rgb(168, 164, 164);                    
                    margin-top: 3%;
                    margin-left: 1%;
                    margin-bottom: 40%;
                     form label {
                                    text-align: start;
                                    font-size: 20px;
                                    margin-top: 5%;
                                    margin-left: 4%;
                                 }
                              }
                          


.ordenar {
           display: flex;
           flex-direction: column;
           width: 50%;
           margin-left: 3%;
           margin-top: 20px;
           font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-precio { 
              display: flex;
              flex-direction: column;
              width: 50%;
              margin-left: 4%;
              padding-bottom: 15%;
}

form h3 { 
         text-align: start;
         font-size: 30px;
         width: 50%;
         background-color: #ffffff;
         margin-left: 3%;
         margin-top: 8%;
}


.talles-tabla { 
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: flex-start;
            margin: 20px 10px;
            font-size: 15px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bolder;
             border: #BBBBBB solid 2px;
             .talle-boton {
                           display: flex;
                           flex-direction: row;
                           padding-bottom: 10px;
                        }
}
                
.talles {
        text-align: start;
         font-size: 30px;
         width: 50%;
         background-color: #ffffff;
         margin-left: 3%;
         margin-top: 8%;
}

.contenedor-principal { 
                        display: flex;
                        flex-direction: row;
                        margin: 3px;
                        gap: 25px;
}

.container-productos { 
                      display: grid;
                      grid-template-columns: repeat(3, 1fr);
                      gap: 20px;
                      justify-content: space-evenly;
                      width: 75%;
                      
}

.producto {
            background-color: rgb(182, 236, 218);
            border-radius: 10px;
}

.producto img {
               width: 100%;
               border-radius: 10px 10px 0 0;
               transition: all .5s;
}

.producto figure {
                    overflow: hidden;
}

.producto:hover {
                  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
                 
}

.producto:hover img {
                     transform: scale(1.2);

}
.info-producto {
                padding: 15px 30px;
                line-height: 2;
                display: flex;
                flex-direction: column;
                gap: 10px;
                h4{
                    font-size: 25px;
                   }
}     

.precio { 
          font-size: 25px;
          font-weight: 900;
          text-align: center;
}

.info-producto button{ 
                           background: none;
                           background-color: black;
                           color: rgb(255, 255, 255);
                           padding: 15px 10px;
                           cursor: pointer;
}